# fire
# toml
# tqdm
# yacs
# scipy
# ffmpy
# bokeh
# modin
# pylint
# Pillow
# seaborn
# imageio
# pydicom
# graphviz
# ipykernel
# dataclasses
# scikit-learn
# scikit-image
# opencv-python
# line_profiler
# nvidia-ml-py3

# git+https://github.com/conery/nbscan.git
# ffmpy
# ptvsd
# starlette
# uvicorn
# python-multipart
# xlrd
# aiofiles
# easydict