fire
toml
tqdm
flask
ffmpy
bokeh
modin
pylint
Pillow
seaborn
imageio
pydicom
graphviz
dataclasses
scikit-learn
scikit-image
opencv-python
line_profiler
nvidia-ml-py3

# Jupyter
ipykernel

# git+https://github.com/conery/nbscan.git
# ptvsd
# starlette
# uvicorn
# python-multipart
# xlrd
# aiofiles
# easydict